*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(213, 171, 121);
}

.panel{
    width: 80%;
    height: 80%;
    background-color: #e5f694;
    border-radius: 10px;
    overflow: hidden;
}

.ptop{
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #9d441a;
    display:flex;
    align-items: center;
    padding: 0px 30%;
    color: #fff;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    color: #5f2626;
    font-weight: 700;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.pbtm{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    justify-content: center;
    align-items: center;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #bc2020;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover{
    cursor : pointer;
    background-color: #752626;
    height: 50px;
    width: 50px;
}